@using DigitalMusicLibrary.Models
@using DigitalMusicLibrary.Services
@inject NavigationManager NavigationManager
@inject IArtistService ArtistService

<div class="card mb-4">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        <h3>@Artist.Name</h3>
        <div>
            <button class="btn btn-primary btn-sm me-2" @onclick="() => NavigateToUpdate(Artist.Id)">Update</button>
            <button class="btn btn-danger btn-sm" @onclick="() => DeleteArtist(Artist.Id)">Delete</button>
        </div>
    </div>
    <div class="card-body">
        @foreach (var album in Artist.Albums)
        {
            <AlbumComponent Album="@album" />
        }
    </div>
</div>

@code {
    [Parameter]
    public Artist Artist { get; set; }

    [Parameter]
    public EventCallback OnArtistDeleted { get; set; }

    private void NavigateToUpdate(int id)
    {
        NavigationManager.NavigateTo($"/updateartist/{id}");
    }

    private async Task DeleteArtist(int id)
    {
        if (await ArtistService.DeleteArtistAsync(id))
        {
            await OnArtistDeleted.InvokeAsync();
        }
    }
}

