@page "/"
@using DigitalMusicLibrary.Components.MusicComponents
@using DigitalMusicLibrary.Models
@using DigitalMusicLibrary.Services
@inject IArtistService ArtistService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="container mt-4">
    <div class="text-center">
        <h1 class="mb-3">Digital Music Library</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="input-group" style="max-width: 70%;">
            <input @bind="searchTerm" @oninput="OnSearchInput" class="form-control" placeholder="Search for artists, albums, or songs..." />
            <button class="btn btn-dark" @onclick="OnSearchButtonClick">Search</button>
        </div>
        <button class="btn btn-success" @onclick="NavigateToAddArtist">Add New Artist</button>
    </div>
    @if (searchResults.Any())
    {
            <ArtistComponent searchResults=@searchResults />
    }
    else
    {
        <div class="alert alert-info">No results found. Try a different search term.</div>
    }
</div>

@code {
    private string searchTerm;
    private List<Artist> searchResults = new List<Artist>();

    protected override async Task OnInitializedAsync()
    {
        searchResults = await ArtistService.SearchAsync(searchTerm);
    }

    private async Task OnSearchInput(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
    }

    private async Task OnSearchButtonClick()
    {
        searchResults = await ArtistService.SearchAsync(searchTerm);
    }

    private void NavigateToAddArtist()
    {
        NavigationManager.NavigateTo("/addartist");
    }
}