@page "/"
@using DigitalMusicLibrary.Components.MusicComponents
@using DigitalMusicLibrary.Models
@using DigitalMusicLibrary.Services
@inject IArtistService ArtistService
@rendermode InteractiveServer

<div class="container mt-4">
    <div class="text-center">
        <h1 class="mb-3">Digital Music Library</h1>
    </div>
    <div class="input-group mb-3">
        <input @bind="searchTerm" @oninput="OnSearchInput" class="form-control" placeholder="Search for artists, albums, or songs..." />
        <button class="btn btn-dark" @onclick="OnSearchButtonClick">Search</button>
    </div>

    @if (searchResults.Any())
    {
        @foreach (var artist in searchResults)
        {
           <ArtistComponent artist=@artist/>
        }
    }
    else
    {
        <div class="alert alert-info">No results found. Try a different search term.</div>
    }
</div>

@code {
    private string searchTerm;
    private List<Artist> searchResults = new List<Artist>();

    protected override async Task OnInitializedAsync()
    {
        searchResults = await ArtistService.SearchAsync(searchTerm);
    }

    private async Task OnSearchInput(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
    }

    private async Task OnSearchButtonClick()
    {
        searchResults = await ArtistService.SearchAsync(searchTerm);
    }
}